@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global styles */
html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

.cooler {
  animation: coolers 2s infinite ease-in-out forwards;
}

@keyframes coolers {
  50% {
    color: #3ff7f7;
  }
  100% {
    color: #e6e9f9;
  }
}
